body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}
.Login, .Reg {
    margin-top: 20px;
}

button, #Tagasi {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;

}
h1{
    color: white;
    background-color: black;
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pass{
    margin-top: 0.3%;
    margin-bottom: 0.3%;
    margin-left: 2.6%;
}